data_extract_automation.json
{
  "name": "HfO2_data_automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        128
      ],
      "id": "c763d0aa-11fc-4017-89ee-8de1d6a03544",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert materials science research assistant specializing in ferroelectric materials.\n\nAnalyze the research paper text provided below and extract the requested information.\n\nReturn ONLY a valid JSON object.\n\nRules:\n\n1. Return ONLY JSON.\n2. Do not include markdown.\n3. Do not include explanations.\n4. Do not include notes before or after the JSON.\n5. Use concise scientific phrases.\n6. If information is not available, use \"NA\".\n7. Keep all values as strings.\n8. Characterisations should include any techniques mentioned, such as:\n   Raman, XRD, FESEM, SEM, TEM, PFM, XPS, AFM, GIXRD, DFT, RTXRD, SHG, XPS, DFPT, COHB, CINEB, VASP, FTIR, DMM, STEM, EDX, TGA, SILC, MEIS, HYSTERESIS, XRR, SAED, EDS, IV, ANOVA, CV, HRTEM.\n9. Morphology must be one of:\n   Thin Film\n   Bulk\n   Nanoparticles\n   Powder\n   Grains\n   Slab\n   Beads\n   Other\n10. Do not invent information.\n11. Every field must always be present.\n12. If information is unavailable, return \"NA\".\n13. Never omit any field from the JSON object.\n\nRequired JSON format:\n\n{\n  \"Paper Title\": \"\",\n  \"DOI\": \"\",\n  \"Material\": \"\",\n  \"Crystal Structure\": \"\",\n  \"Morphology\": \"\",\n  \"Synthesis Method\": \"\",\n  \"Physical Properties\": \"\",\n  \"Characterisations\": \"\",\n  \"Key Findings\": \"\",\n  \"Ferroelectric Performance\": \"\",\n  \"Name\": \"Ramashray\"\n}\n\n\nResearch paper text:\n\n{{$json.text}}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        48
      ],
      "id": "b289b7e4-e05d-46a1-a435-22f80e54508f",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -528,
        224
      ],
      "id": "e50daa52-aaad-49c7-96e9-36085bda5fbf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aWdO8wFK1HRNHdzz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "HfO2_n8n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1392,
        128
      ],
      "id": "5e60d5f4-be75-4c11-836c-cf82307ba7b5",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VzlLcBJam6uy8oHE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -976,
        128
      ],
      "id": "fc74039b-5fa5-4c53-9fae-925e40d544ae",
      "name": "Download file",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VzlLcBJam6uy8oHE",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1VtpMjAjpvph4PvmQfJ0v110eQx0RiB4c",
            "mode": "list",
            "cachedResultName": "HfO2_n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1VtpMjAjpvph4PvmQfJ0v110eQx0RiB4c"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1184,
        128
      ],
      "id": "32444980-39fd-4547-9d41-bab573848054",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "VzlLcBJam6uy8oHE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -720,
        112
      ],
      "id": "fbbc2254-1ccd-47cd-a5e5-c07c6ea73166",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Paper Title\": \"Example Paper Title\",\n  \"DOI\": \"10.1000/example\",\n  \"Material\": \"HfO2\",\n  \"Crystal Structure\": \"Orthorhombic\",\n  \"Morphology\": \"Thin Film\",\n  \"Synthesis Method\": \"ALD\",\n  \"Physical Properties\": \"Ferroelectric, dielectric\",\n  \"Characterisations\": \"XRD, SEM, PFM\",\n  \"Key Findings\": \"Enhanced ferroelectricity\",\n  \"Ferroelectric Performance\": \"Pr=20 µC/cm²\",\n  \"Name\": \"Ramashray\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -336,
        224
      ],
      "id": "e522e30f-29d3-4486-ad08-32506aed2229",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -272,
        336
      ],
      "id": "ef891529-79db-41bc-9601-8958623dfa7f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "aWdO8wFK1HRNHdzz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MZO4CciXX38jhkrZ6X3ZTDLwMrr2mS14QWm_-8CV6m4",
          "mode": "list",
          "cachedResultName": "My trial AI run extraction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MZO4CciXX38jhkrZ6X3ZTDLwMrr2mS14QWm_-8CV6m4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1602925994,
          "mode": "list",
          "cachedResultName": "HfO2 Review Paper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MZO4CciXX38jhkrZ6X3ZTDLwMrr2mS14QWm_-8CV6m4/edit#gid=1602925994"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Paper Title": "={{ $json.output['Paper Title'] }}",
            "DOI": "={{ $json.output.DOI }}",
            "Material": "={{ $json.output.Material }}",
            "Crystal structure": "={{ $json.output['Crystal Structure'] }}",
            "Morphology": "={{ $json.output.Morphology }}",
            "Synthesis Method (if there)": "={{ $json.output['Synthesis Method'] }}",
            "Physical Properties": "={{ $json.output['Physical Properties'] }}",
            "Charecterisations": "={{ $json.output.Characterisations }}",
            "Key findings ": "={{ $json.output['Key Findings'] }}",
            "Ferroelectric performance": "={{ $json.output['Ferroelectric Performance'] }}",
            "Name ": "={{ $json.output.Name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Paper Title",
              "displayName": "Paper Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOI",
              "displayName": "DOI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Material",
              "displayName": "Material",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Crystal structure",
              "displayName": "Crystal structure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Morphology",
              "displayName": "Morphology",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Synthesis Method (if there)",
              "displayName": "Synthesis Method (if there)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Physical Properties",
              "displayName": "Physical Properties",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Charecterisations",
              "displayName": "Charecterisations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key findings ",
              "displayName": "Key findings ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ferroelectric performance",
              "displayName": "Ferroelectric performance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Any Figure from this paper",
              "displayName": "Any Figure from this paper",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        0
      ],
      "id": "1d32ab0b-d6ca-44d8-8658-eb26263cb090",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hA1cYo3kw20IimUr",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "22b25704-223b-4b8f-b6d1-b7fcd037637f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0db6bf2c0973ff978ede139ba3055d2481f2a56f3a245abba13dee3d29ba3028"
  },
  "id": "Gxq6GZLASOiX04Y4",
  "tags": []
}